@model ECommerceApp.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (Roles.IsUserInRole(ECommerceApp.Models.RoleNames.Admin))
{
    <h3>Gestion</h3>
    <ul>
        <li>@Html.ActionLink("Catégories", "Index", "Categorie", new { Area = "Administration" }, null)</li>
        <li>@Html.ActionLink("Produits", "Index", "Produit", new { Area = "Administration" }, null)</li>
    </ul>
}


@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
